@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	font-family: 'Montserrat', sans-serif;
}

/* Cabeçalho */
header{
    background: linear-gradient(-26deg,black, #888888 50%, #fefefe);
    padding: 20px 0px;
}

.caixa{
    position: relative;
    max-width: 940px;
    margin: 0px auto;
}

/* Links de navegação */
nav{
    position: absolute;
    top: 86px;
    right: 40px;
}

nav li{
    display: inline-block;
    padding: 0px 0px 0px 15px;
}

nav a{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover{
    text-decoration: underline;
    color: gold;
}

nav a:active{
    color: goldenrod;
}

header img{
	margin-left: 60px;
	width: 120px;
}

/* CSS da página inicial */
.banner {
	margin: 0px auto 0px;
	max-width: 950px;
}

.banner img{
	width: 100%;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.308);
}

/* Sobre a Barbearia */
.principal{
	max-width: 960px;
	margin: 0px auto 30px;
	padding: 20px 20px 0px 20px;
}

.titulo-principal {
	text-align: center;
	margin: 10px 0px 1em;
	font-size: 2em;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.411);
}

.utensilios{
	width: 120px;
	float: left;
	margin: 0px 20px 20px 10px;
	border-radius: 5px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.384);
}

.principal p {
	text-align: left;
	margin-bottom: 1em;
	font-size: 20px;
}

.principal strong{
	font-weight: bold;
}

.principal em{
	font-style: italic;
	font-size: 20px
}

/* Benefícios */
.beneficios {
	max-width: 960px;
	width: 100%;
	margin: 0px auto 30px;
}

.beneficios h3{
	margin-bottom: 50px;
}

.beneficios ul {
	display: inline-block;
	vertical-align: top;
	width: 36%;
	margin: 28px 3% 0px;
	list-style: none;
}

.itens {
	font-style: italic;
	margin-left: 40px;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
}

.itens::before{
	content: "☆ ";
}

.imagembeneficios {
	width: 38%;
	margin-left: 100px;
	border-radius: 10px;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.308);
}

/* Vídeo */
.video{
	max-width: 920px;
	margin: auto;
	padding: 20px;
	text-align: center;
}

.video iframe{
	margin: 20px auto;
	border-radius: 10px;
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.308);
}

/* Mapa da Barbearia */
.mapa{
	max-width: 960px;
	text-align: center;
	margin: auto;
	padding: 3em 0px;
}

.mapa p{
	font-size: 22px;
	margin-bottom: 2em;
}

.mapa iframe{
	width: 100%;
	border-radius: 10px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.308);
}

/* Rodapé */
.rodape{
	width: 950px;
	margin: auto;
}

footer{
    text-align: center;
    background: url("../img/bg.jpg");
    padding: 20px 0px;
}

footer img{
    width: 60px;
	margin: 0px 8px;
}

footer p{
	display: inline;
	position: relative;
	bottom: 32px;
    color: white;
    font-size: 13px;
    margin-top: 20px;
}

/* Display para celular */
@media screen and (max-width: 910px) {
	.caixa, .principal, .beneficios, .mapa, .video {
		width: auto;
	}

	/* Header */
	nav{
		top: 40px;
		width: 120px;
	}

	nav li{
		padding: 0px 0px 20px;
	}

	header img{
		position: relative;
		left: -30px;
	}

	/* Texto principal */
	.utensilios{
		display: none;
	}

	.principal p{
		text-align: left;
		padding: 0px 8px 0px 8px;
	}

	/* Sessão benefícios */
	.beneficios{
		margin: 20px auto 0px;
		width: 98vw;
	}

	.beneficios h3{
		margin-bottom: 20px;
	}

	.imagembeneficios{
		display: block;
		margin: 0px auto 10px;
		width: 100%;
	}

	.beneficios ul{
		display: inline;
	}

	.beneficios li{
		margin-left: 1ZX 0px;
	}

	/* Sessão vídeo */
	.video h3{
		margin-bottom: 10px;
	}

	.video iframe{
		height: 52vw;
		width: 86vw;
	}

	/* Mapa */
	.mapa{
		padding: 0px 10px 30px 10px;
	}

	/* Footer */
	.rodape{
		width: 100%;
	}
}